@import 'src/styles';

mat-toolbar {
  height: 5rem;
  background-color: $main-color;

  .container {
    margin: auto;

    .tittle {
      display: flex;
    }

    h1 {
      font-size: 2.3rem;
      min-width: 180px;
    }

    mat-icon {
      margin-top: 6px;
    }
  }


}