.filter-accordion {
  display: flex;
  justify-content: center;
  margin: 0 1rem;

  mat-expansion-panel {
    max-width: 500px;

    h3 {
      margin: 0;
    }
  }

  .filter-fields {
    display: flex;
    justify-content: space-between;
  }

  .filter-buttons {
    display: flex;
    justify-content: space-around;

    button {
      width: 100px;
    }
  }

}