<mat-accordion class="filter-accordion">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="filter-tittle">Filters</h3>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <form
      ng
      *ngIf="filterForm"
      [formGroup]="filterForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="filter-fields">
        <mat-form-field class="filter-breed" appearance="outline">
          <mat-label>Choose a breed</mat-label>
          <mat-select formControlName="breed">
            <mat-option *ngFor="let breed of breeds">
              {{ breed.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-count" appearance="outline">
          <mat-label>Cats Count</mat-label>
          <mat-select formControlName="limit">
            <mat-option [value]="item" *ngFor="let item of limits">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-buttons">
        <button mat-raised-button color="accent">Clear</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
