/* You can add global styles to this file, and also import other style files */

// Variables


$main-color: #ffc800;
$second-color: #333333;


$container: 1140px;
$large: 992px;
$less-large: 960px;
$semi-tablet: 876px;
$tablet: 768px;
$less-tablet: 720px;
$small-tablet: 620px;
$semi-mobile: 576px;
$medium: 540px;
$almost-mobile: 430px;
$mobile: 375px;
$small-mobile: 330px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}